calcite-slider {
    --calcite-slider-handle-fill-color: var(--custom-light-blue-90);
    --calcite-slider-track-color: var(--custom-slider-track-color);
    --calcite-color-text-3: var(--custom-light-blue-90);
    --calcite-color-brand: var(--custom-light-blue-90);
}

.use-enhanced-style calcite-slider {
    --calcite-slider-track-color: var(--custom-light-blue-90);
}