.esri-slider-custom-style.esri-widget {
    background: transparent;
}

.esri-slider-custom-style.esri-widget .esri-slider__label {
    @apply text-custom-light-blue-90;
    background: rgba(0,0,0,.7);
    min-width: 40px;
    font-size: .8rem;
}

.esri-slider-custom-style.esri-widget .esri-slider__thumb {
    @apply border-custom-light-blue-80 bg-custom-light-blue-90;
}

.esri-slider-custom-style .esri-slider__segment-1 {
    @apply bg-custom-light-blue;
}
  
.esri-slider-custom-style .esri-slider__segment-2,
.esri-slider-custom-style .esri-slider__segment-0,
.esri-slider-custom-style .esri-slider__segment-0,
.esri-slider-custom-style .esri-slider__segment-1 {
    background-color: #00232f;
    border: 1px solid #193d49;
}