.esri-popup__main-container {
    --calcite-ui-foreground-1: var(--custom-background);
}

.esri-popup__main-container .esri-features__content-feature{
    --calcite-color-background: var(--custom-background);
}

.esri-view-width-xlarge .esri-popup__main-container {
    width: 220px;
}

.esri-popup__inline-actions-container,
.esri-popup__footer.esri-popup__footer--has-actions,
.esri-popup__button.esri-popup__button--dock,
.esri-popup__pointer {
    display: none;
}

.esri-widget__heading {
    font-size: 12px !important;
    color: var(--custom-light-blue);;
}

.esri-popup__main-container calcite-action[title="Dock"] {
    display: none;
}

.esri-popup__main-container calcite-action-bar {
    display: none;
}

.esri-popup__main-container .header {
    border-block-end: none;
}

/* .esri-popup__header-container--button:hover,
.esri-popup__button:hover {
    @apply bg-custom-background-95;
} */