@import './CustomMapPopupStyle.css';

.esri-input, 
.esri-widget--button, 
.esri-menu {
    background: var(--custom-background);
    color: var(--custom-light-blue);
}

.esri-widget--button{
    --calcite-ui-foreground-3: var(--custom-background);
    --calcite-ui-text-1: var(--custom-light-blue);
    --calcite-color-text-3: var(--custom-light-blue);
}

.hide-map-control .esri-zoom {
    display: none;
}

#root .esri-attribution__powered-by {
    @apply mr-10;
}

.esri-search__input::placeholder{
    color: var(--custom-light-blue-75);
}

.esri-view-root .esri-ui-top-left { 
    @apply md:top-[45px]
}

/**
* Place the UI cpomonenrs at top right corner under the search bar 
*/
.esri-view-root .esri-ui-top-right { 
    @apply top-[70px]
}

/**
* Make sure the search suggestions are on above other nav buttons below the search bar
*/  
#root .esri-menu.esri-search__suggestions-menu {
    z-index: 50;
}