.color-picker-custom-style {
    --calcite-ui-foreground-1: var(--custom-background);
    --calcite-ui-background: var(--custom-background);

    --calcite-ui-border-input: var(--custom-light-blue-50);
    --calcite-ui-border-1: var(--custom-light-blue-50);

    --calcite-ui-text-1: var(--custom-light-blue);
    --calcite-ui-text-2: var(--custom-light-blue);
    --calcite-ui-text-2: var(--custom-light-blue);
}
