.bottom-panel::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,21,28,1) 0%, rgba(0,21,28,0) 100%);
    z-index: 0;
}

.bottom-panel-top-shadow {
    height: 10px;
    background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
    z-index: 0;
}
